<div class="m_-7970977519448116421mail-content">
  <div class="m_-7970977519448116421mail-box">
    <div class="m_-7970977519448116421header">
      <img src="https://ci4.googleusercontent.com/proxy/p3xMiA5JzPZAsgGKxfSaEtH0WBBet3cnw0bb-kxLCL-OgYboHMokV3D--qA9lRZujadhoALY=s0-d-e1-ft#https://cdn.smit.vn/images/logo.png" alt="" class="CToWUd" data-bit="iit">
    </div>
    <div>
      <div class="m_-7970977519448116421bold">Xin chào <span th:text="${name}"></span>!</div>
      <div class="m_-7970977519448116421message" style="margin-top:20px">Cảm ơn bạn đã đăng ký tài khoản tại BookBox. Để hoàn tất quá trình đăng ký, vui lòng nhấn vào link dưới đây để xác thực tài khoản.</div>
      <div class="m_-7970977519448116421message" style="margin-top:20px"><p>Mã xác thực của bạn là:</p><input
              type="text" readonly name="" id="" th:value="${content}"></div>
      <div class="m_-7970977519448116421message" style="margin-top:20px">Sau khi xác minh, bạn sẽ có thể sử dụng tài khoản của mình và truy cập các dịch vụ của chúng tôi.</div>
      <div class="m_-7970977519448116421message" style="margin-top:20px">Nếu bạn có bất kỳ câu hỏi nào, vui lòng liên hệ với chúng tôi để được hỗ trợ.</div>
      <div class="m_-7970977519448116421message" style="margin-top:20px">Lưu ý:</div>
      <ul class="m_-7970977519448116421message">
        <li>Mã sẽ hết hạn trong vòng 6 giờ kể từ khi bạn nhận được tin nhắn này!</li>
        <li>Đây là tin nhắn tự động. Vui lòng không trả lời tin nhắn này!</li>
      </ul>
      <div class="m_-7970977519448116421message" style="margin-top:20px"></div>
      <div class="m_-7970977519448116421message">- <a href="https://smit.vn/policy" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://smit.vn/policy&amp;source=gmail&amp;ust=1689309069928000&amp;usg=AOvVaw02OeDD5-xMYJdcUoKnMve3">Chính sách bảo mật</a></div>
      <div class="m_-7970977519448116421message">- <a href="https://smit.vn/terms" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://smit.vn/terms&amp;source=gmail&amp;ust=1689309069928000&amp;usg=AOvVaw0Fm_JV96mBTU12QhtqdPuv">Điều khoản dịch vụ</a></div>
      <div class="m_-7970977519448116421message">- <a href="https://smit.vn" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://smit.vn&amp;source=gmail&amp;ust=1689309069928000&amp;usg=AOvVaw0Ujl90xvFjBjObiYgXRGU1">BookBox - EBook, sách miễn phí cho mọi nhà.</a></div>
    </div>
  </div>
  <div class="m_-7970977519448116421footer">
    <div>Bản quyền BookBox© 2023 </div><div class="yj6qo"></div><div class="adL">
  </div></div><div class="adL">
</div>
</div>
